<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API-Base</title>
</head>

<body style="width: 100%;height:100%">
    <h1 style="text-align:center;">Welcome to API-Base</h1>
    <hr style="width:350px; color: grey;">
    <p style=" font-family:sans-serif;">This API contains a list of variety of freemium Apis <br>
        <span style="color: red;">I will be polishing this app more in future iteration!</span>
    </p>
    <ul>
        <li><a href="/api/memeApi">MemeAPI</a></li>
        <li><a href="/api/chuck">Chuck norris jokes API</a></li>
        <li><a href="/api/trump">Donald Trump jokes</a></li>
        <li><a href="/api/currencyexc">Currency exchange API</a></li>
        <li><a href="/api/freeNBA">FreeNBA API</a></li>
        <li><a href="/api/games">games API</a></li>
        <li><a href="/api/music">Music API</a></li>
        <li><a href="/api/translator">google translate API</a></li>
    </ul>

    <h5 style="text-align: center;position: relative;left:0%;bottom: 10px;">made in 💚 with pakistan!</h5>
</body>

</html>